node_modules/
npm-debug.log
yarn-error.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/storage
public/hot
public/build
.git/
.gitignore
.gitattributes
.idea/
.vscode/
.env
.env.backup
tests/
.phpunit.result.cache